
@font-face {
  font-family: "Pretendard1";
  font-weight: 200;
  src: url("./assets/font/Pretendard-Thin.otf") format("opentype");
}

@font-face {
  font-family: "Pretendard2";
  font-weight: 200;
  src: url("./assets/font/Pretendard-ExtraLight.otf") format("opentype");
}

@font-face {
  font-family: "Pretendard4";
  font-weight: 400;
  src: url("./assets/font/Pretendard-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Pretendard6";
  font-weight: 600;
  src: url("./assets/font/Pretendard-SemiBold.otf") format("opentype");
}

body {
  margin: 0;
  font-family: "Pretendard2";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}